/mvnw text eol=lf
*.cmd text eol=crlf

# Source files encoding
*.java text working-tree-encoding=UTF-8
*.xml text working-tree-encoding=UTF-8
*.yml text working-tree-encoding=UTF-8
*.yaml text working-tree-encoding=UTF-8
*.properties text working-tree-encoding=UTF-8
